<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-margin">
                        <h3>Our Social Contact <strong class="coa"> </strong></h3>
                    </div>  
                </div>
  
            </div>
            <div class="row pdn-top-30">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/location.png"> <span>Pune Kharadi<br>Maharashtra</span></li>
  
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/tellephone.png"><span>+9187000000<br>+9187000000</span></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/email.png"><span>test@gmail.com<br>test@gmail.com</span></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <a href="javascript:void(0)"><img src="assets/icon/facebook.png"></a></li>
                        <li> <a href="javascript:void(0)"><img src="assets/icon/Twitter.png"></a></li>
                        <li> <a href="javascript:void(0)"><img src="assets/icon/linkedin.png"></a></li>
                        <li> <a href="javascript:void(0)"><img src="assets/icon/google+.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright 2020 All Right Reserved By <a href="javascript:void(0)">Dare Technology</a></p>
        </div>
    </div>
  </footer>