<app-common-nav-bar [title]="title"></app-common-nav-bar>

  <div class="get_infor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="get pdntp">
                    <h2><strong class="black">
        What we do </strong>
                    </h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                        to using 'Content here, content here', making it look like readable English. Many desktop publishing packaged by th</p>
                    <a class="started" href="javascript:void(0)">Appointment</a>
                </div>
            </div>
            <div class="col-lg-6 pdn-right">
                <div class="guaranteed">
                    <figure><img src="assets/images/4.jpg"></figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="get pdntp">
        <h2><strong class="black"> Product Accordion </strong></h2>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Collapsible Group Item #1
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="get">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                            to using 'Content here, content here', making it look like readable English. Many desktop publishing packaged by th</p>
                        <a class="started" href="javascript:void(0)">Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 pdn-right">
                    <div class="guaranteed">
                        <figure><img src="assets/images/1.jpg"></figure>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="get">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                            to using 'Content here, content here', making it look like readable English. Many desktop publishing packaged by th</p>
                        <a class="started" href="javascript:void(0)">Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 pdn-right">
                    <div class="guaranteed">
                        <figure><img src="assets/images/2.jpg"></figure>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Collapsible Group Item #3
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="get">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                            to using 'Content here, content here', making it look like readable English. Many desktop publishing packaged by th</p>
                        <a class="started" href="javascript:void(0)">Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 pdn-right">
                    <div class="guaranteed">
                        <figure><img src="assets/images/3.jpg"></figure>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>