<app-common-nav-bar [title]="title"></app-common-nav-bar>

  <div class="Contact ">
    <div class="container ">
      
      <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <form>
            <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
            <input class="form-control " placeholder="First name " type="First name ">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
  
            <input class="form-control " placeholder="Last name" type="Last name ">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
  
            <input class="form-control " placeholder="Phone " type="Phone ">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
  
            <input class="form-control " placeholder="Email " type="Email ">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
  
            <textarea class="textarea " placeholder="Message " >Message</textarea>
          </div>
          </div>
          </form>
        </div>
        
        <button class="send-btn ">Send</button>
      </div>
    </div>
  </div>
  